<!DOCTYPE html>
<html>
  <head>
    <title>MailboxerApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body ng-app="chatApp">

    <div class="header">
      <h1>Mailboxer</h1>
      <a class="back-button" href="#/inbox">&lt;</a>
      <!-- <span class="signout-button" ng-click="signOut();">&times;</span> -->
    </div>

    <%= yield %>

  </body>
</html>
